---
title: "Eleventy Docs"
layout: "base.njk"
---

<script type="module" src="https://unpkg.com/@romanenko.pavlo/simple-timestamp/dist/simple-timestamp.umd.js"></script>
<script type="module" src="https://unpkg.com/@romanenko.pavlo/numeric-input/dist/numeric-input.umd.js"></script>
<script type="module" src="https://unpkg.com/@romanenko.pavlo/autocomplete-combobox/dist/autocomplete-combobox.umd.js"></script>

<div class="flex flex-wrap justify-center">
    <div class="p-10 w-72 flex flex-col gap-3">
        <h2 class="text-2xl font-bold text-center">Timestamps</h2>
        <div class="bg-white rounded-md shadow-md p-4">
            <h3 class="text-xl font-semibold mb-2">English</h3>
            <simple-timestamp
                id="timestamp-en"
                class="
                    block
                    w-full
                    text-center 
                    rounded-md 
                    border 
                    bg-gray-200
                    shadow-md
                " 
                locale='en-US' 
                timezone="America/New_York"
                value='2023-03-29T12:25:07.427Z'
            ></simple-timestamp>
        </div>
        <div class="bg-white rounded-md shadow-md p-4">
            <h3 class="text-xl font-semibold mb-2">Ukrainian</h3>
            <simple-timestamp
                id="timestamp-uk"
                class="
                    block
                    w-full
                    text-center 
                    rounded-md 
                    border 
                    bg-gray-200
                    shadow-md
                " 
                locale='uk-UA' 
                timezone="America/New_York"
                value='2023-03-19T12:25:07.427Z'
            >
            </simple-timestamp>
        </div>
        <div class="bg-white rounded-md shadow-md p-4">
            <h3 class="text-xl font-semibold mb-2">French</h3>
            <simple-timestamp
                id="timestamp-fr"
                class="
                    block
                    w-full
                    text-center 
                    rounded-md 
                    border 
                    bg-gray-200
                    shadow-md
                " 
                locale='fr-FR' 
                timezone="America/New_York"
                value='2023-03-19T12:25:07.427Z'
            >
            </simple-timestamp>
        </div>
    </div>
    <div class="p-10 w-72 flex flex-col gap-3">
        <h2 class="text-2xl font-bold text-center">Numeric Inputs</h2>
        <div class="bg-white rounded-md shadow-md p-4">
            <h3 class="text-xl font-semibold mb-2">Percentage</h3>
            <numeric-input 
                class="percent"
                value="0.5"
            >
            </numeric-input>
        </div>
        <div class="bg-white rounded-md shadow-md p-4">
            <h3 class="text-xl font-semibold mb-2">Currency</h3>
            <numeric-input 
                lang="en"
                value="1000.50"
            ></numeric-input>
        </div>
        <div class="bg-white rounded-md shadow-md p-4">
            <h3 class="text-xl font-semibold mb-2">
                Currency
                <span class="text-sm">
                    --no-spinner
                </span>
            </h3>
            <numeric-input 
                lang="ua"
                value="540500.50"
                class="UAH no-spinner"
            ></numeric-input>
        </div>
        <script>
            document.querySelectorAll('.percent').forEach((element) => {
                element.formatOptions = { "style": "percent" };
            });
            document.querySelectorAll('.USD').forEach((element) => {
                element.formatOptions = { "style": "currency", "currency": "USD" };
            });
            document.querySelectorAll('.UAH').forEach((element) => {
                element.formatOptions = { "style": "currency", "currency": "UAH" };
            });
        </script>
    </div>
    <div class="p-10 w-72 flex flex-col gap-3">
        <h2 class="text-2xl font-bold text-center">Date Inputs</h2>
        <div class="bg-white rounded-md shadow-md p-4">
            <h3 class="text-xl font-semibold mb-2">Date</h3>
            <date-input></date-input>
        </div>
        <div class="bg-white rounded-md shadow-md p-4">
            <h3 class="text-xl font-semibold mb-2">
                Date
                <span class="text-sm">
                    (js-controlled)
                </span>
            </h3>
            <date-input id="js-controlled"></date-input>
            <p class="text-sm" id="input-date"></p>
        </div>
    </div>
    <div class="p-10 w-72 flex flex-col gap-3">
        <h2 class="text-2xl font-bold text-center">Autocomplete Combobox</h2>
        <div class="bg-white rounded-md shadow-md p-4">
            <h3 class="text-xl font-semibold mb-2">
                Combobox
                <span class="text-sm">
                    (default styles)
                </span>
            </h3>
            <autocomplete-combobox 
                id="normal-cb"
            >
                <option label="Apple" value="apple"></option>
                <option label="Banana" value="banana"></option>
                <option label="Orange" value="orange" disabled></option>
                <option label="Watermelon" value="watermelon"></option>
                <option label="Raspberry" value="raspberry"></option>
                <option label="Lemon" value="lemon"></option>
            </autocomplete-combobox>
        </div>
        <div class="bg-white rounded-md shadow-md p-4">
            <h3 class="text-xl font-semibold mb-2">
                Combobox
                <span class="text-sm" placeholder>
                    (default styles/js-controlled)
                </span>
            </h3>
            <autocomplete-combobox id="js-controlled-cb">
            </autocomplete-combobox>
        </div>
        <div class="bg-white rounded-md shadow-md p-4">
            <h3 class="text-xl font-semibold mb-2">
                Combobox
                <span class="text-sm" placeholder>
                    (default styles/src)
                </span>
            </h3>
            <autocomplete-combobox id="src-cb" src="/public/customOptions.json">
            </autocomplete-combobox>
        </div>
    </div>
</div>

<script type="module">
    const dateInput = document.querySelector('date-input#js-controlled');

    const displayDate = (value) => {
        const dateMessage = document.querySelector('p#input-date');
        dateMessage.textContent = `${value}`; 
    }

    // read valueAsDate from value
    dateInput?.addEventListener('input', (e) => {
        const inputElement = e.target;
        displayDate(inputElement.value);
    });

    // write valueAsDate using value
    if(dateInput) {
        dateInput.value = new Date();
        displayDate(dateInput.value);
    }

    // add options using js
    document.querySelector('#js-controlled-cb').options = [
        {label: 'Red', value: 'red'},
        {label: 'Green', value: 'green'},
        {label: 'Blue', value: 'blue'},
    ];
</script>