<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Docs for study web components monorepo."/>
  <link rel="stylesheet" href="/study-web-components/css/style.css">
  <title>Component: combobox-input</title>
  <style></style>
</head>
<body class="flex flex-col min-h-screen">
  <div class="flex flex-col flex-grow">
    <header class="flex flex-col justify-between gap-x-5 bg-blue-600 text-white py-4 px-8 sm:px-16 sm:flex-row">
  <div class="flex justify-between items-center">
    <h1 class="text-xl font-semibold">
      <a href="/study-web-components/">Study Web Components</a>
    </h1>
    <!-- Hamburger Menu Button -->
    <menu-button for-container="menu"><template>
	<button class="sm:hidden block menu-toggle">
    <!-- Menu Icon -->
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 menu-icon">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
    <!-- Cross Icon (Initially hidden) -->
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 cross-icon hidden">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
</template>

</menu-button>
    
  </div>
  <!-- Navigation Menu -->
  <menu-container id="menu"><template>
	<nav class="overflow-hidden h-0 sm:h-full">
        
        <ul class="py-5 sm:py-0 flex flex-col gap-5 sm:flex-row items-center">
            <li>
                <a href="{{'/start' | url | safe}}" class="hover:underline">Getting started</a>
            </li>
            <li>
                <a href="{{'/components' | url | safe}}" class="hover:underline">Components</a>
            </li>
            <li>
                <a href="{{'/examples' | url | safe}}" class="hover:underline">Examples</a>
            </li>
        </ul>
    
    </nav>
</template>

</menu-container>
  
</header>

    <main class="flex-grow flex justify-center p-8 sm:p-16">
      
<div class="bg-white p-8 rounded shadow-md">
  <h2 class="text-2xl font-semibold mb-4">combobox-input</h2>
  
  <!-- Display the element's path -->
  <div class="mb-4">
    <strong>Path:</strong> ./packages&#92;autocomplete-combobox&#92;src&#92;combobox-input&#92;combobox-input.ts
  </div>
  
  <!-- Display the element's attributes -->
  <div class="mb-4">
    <strong>Attributes:</strong>
    <ul class="list-disc ml-6">
      
        <li>value (Type: string)</li>
      
    </ul>
  </div>
  
  <!-- Display the element's properties -->
  <div class="mb-4">
    <strong>Properties:</strong>
    <ul class="list-disc ml-6">
      
        <li>styles (Type: CSSResult)</li>
      
        <li>value (Type: string)</li>
      
    </ul>
  </div>
  
  <!-- Display the element's events -->
  <div class="mb-4">
    <strong>Events:</strong>
    <ul class="list-disc ml-6">
      
        <li>combobox-input</li>
      
    </ul>
  </div>
  
  <!-- Add a link to return to the components list -->
  <a href="/study-web-components/components/index.html" class="text-blue-500 hover:underline">Return to components list</a>
</div>

    </main>
  </div>
  <footer class="bg-blue-600 text-white py-4">
  <div class="container mx-auto text-center">
    <p>&copy; Prgamasoft 2023</p>
  </div>
</footer>
  <script>window.customElements.define(
    "menu-button",
    class extends HTMLElement {
        connectedCallback() {
            let tmpl = this.querySelector("template");
            tmpl.replaceWith(tmpl.content);
            const button = this.querySelector('.menu-toggle');
            const menuIcon = this.querySelector('.menu-icon');
            const crossIcon = this.querySelector('.cross-icon');

            const containerId = this.getAttribute("for-container");

            // Add a click event listener to toggle icons
            button.addEventListener('click', () => {
                menuIcon.classList.toggle("hidden");
                crossIcon.classList.toggle("hidden");

                const nav = document.querySelector(`#${containerId} > nav`);
                nav.classList.toggle("h-0");
                nav.classList.toggle("h-full");
            });
        }
});
window.customElements.define(
    "menu-container",
    class extends HTMLElement {
        connectedCallback() {
            let tmpl = this.querySelector("template");
            tmpl.replaceWith(tmpl.content);
        }
});</script>
</body>
</html>
