---
title: "Eleventy Docs"
layout: "base.njk"
---

<div class="container mx-auto p-4 prose">
  <h2 class="text-3xl font-semibold mb-4">Getting Started</h2>

  <h2 class="text-2xl mb-4">Installation and Usage</h2>
  <ol class="list-decimal ml-6 mb-4">
    <li>Clone the repository:</li>
    <div class="overflow-x-auto h-10">
      <pre><code class="language-shell">git clone https://github.com/RomanenkoStud/study-web-components.git</code></pre>
    </div>

    <li>Navigate to the project directory:</li>
    <div class="overflow-x-auto h-10">
    <pre><code class="language-shell">cd study-web-components</code></pre>
    </div>

    <li>Install dependencies:</li>
    <div class="overflow-x-auto h-10">
    <pre><code class="language-shell">npm install</code></pre>
    </div>

    <li>To start the demo server:</li>
    <div class="overflow-x-auto h-10">
    <pre><code class="language-shell">npm run dev -w demo</code></pre>
    </div>

    <li>Open your web browser and navigate to <a href="http://localhost:5173" class="text-blue-500 hover:underline">http://localhost:5173</a> to access the page.</li>
  </ol>

  {% include "optional.njk" %}
</div>