---
layout: base.njk
pagination:
  data: componentsData.tags
  size: 1
  alias: component
permalink: components/{{ component.name | slug }}/index.html
eleventyComputed:
  title: "Component: {{ component.name }}"
---

<div class="bg-white p-8 rounded shadow-md">
  <h2 class="text-2xl font-semibold mb-4">{{ component.name }}</h2>
  
  <!-- Display the element's path -->
  <div class="mb-4">
    <strong>Path:</strong> {{ component.path }}
  </div>
  
  <!-- Display the element's attributes -->
  <div class="mb-4">
    <strong>Attributes:</strong>
    <ul class="list-disc ml-6">
      {% for attribute in component.attributes %}
        <li>{{ attribute.name }} (Type: {{ attribute.type }})</li>
      {% endfor %}
    </ul>
  </div>
  
  <!-- Display the element's properties -->
  <div class="mb-4">
    <strong>Properties:</strong>
    <ul class="list-disc ml-6">
      {% for property in component.properties %}
        <li>{{ property.name }} (Type: {{ property.type }})</li>
      {% endfor %}
    </ul>
  </div>
  
  <!-- Display the element's events -->
  <div class="mb-4">
    <strong>Events:</strong>
    <ul class="list-disc ml-6">
      {% for event in component.events %}
        <li>{{ event.name }}</li>
      {% endfor %}
    </ul>
  </div>
  
  <!-- Add a link to return to the components list -->
  <a href="{{'/components/index.html' | url | safe}}" class="text-blue-500 hover:underline">Return to components list</a>
</div>
